@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@flaticon/flaticon-uicons/css/all/all';

* {
  color: #333;

  /* border: 1px solid #888; */
}

.gradient-text {
  background: linear-gradient(45deg, #2a1ad8, #b948ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-bg {
  background: linear-gradient(45deg, #2a1ad8, #b948ff);
}
.tap-highlight-disable {
  -webkit-tap-highlight-color: transparent;
}
.active-tab {
  background: linear-gradient(45deg, #2a1ad8, #b948ff);
  -webkit-tap-highlight-color: transparent;
}
/* .active-tab::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #2a1ad8, #b948ff);
  border-radius: 50%;
  z-index: -1;
} */
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
